html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Lazer84';
    src: url('../Lazer84.ttf') format('truetype');
}

/********* animation implementation fix **********/

#wrap {
    position: absolute !important;
    z-index: -1 !important;
    height: 100vh !important;
    width: 100vw !important;
}

/********* animation implementation fix **********/

body {
    margin: 16px;
    background: #2C2141;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    background: #F8F8F8;
    flex-basis: 624px;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card__article {
    display: flex;
    flex-direction: column;
    flex-basis: 380px;
    flex-grow: 1;
}

.card__photo {
    border-radius: 50%;
    margin-right: 32px;
    margin-bottom: 32px;
    height: 148px;
    width: 148px;
    object-fit: cover;
    filter: blur(10px);
}

.card__wtf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed__hight {
    height: 34px;
}

.card__wtf--hover {
    display: none;
    font-family: lazer84;
    margin: 0 32px 0 0;
    font-size: 30px;
    letter-spacing: .5rem;
    color: #f9c802;
    text-shadow: 2px 2px 0 #e30613;
}

.card__photo:hover+.fixed__hight>.card__wtf--hover {
    display: block;
}

.card__photo:hover {
    filter: blur(0px);
}

.card__header {
    margin-bottom: 27px;
}

.card__header--title {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.card__header--description {
    font-style: italic;
    font-size: 18px;
    color: #545454;
}

.card__text {
    font-size: 16px;
}

.card__footer {
    font-size: 16px;
}

.card__text--highlight {
    color: #ED6D05;
    font-weight: 400;
}

.card__footer--link {
    text-decoration: none;
    color: #E20613;
}